/* font */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700;800&family=Markazi+Text:wght@500&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Karla',
    sans-serif;
}

a{
  text-decoration: none;
}
a:hover{
  font-weight: bolder;
}

button {
  background-color: #F4CE14;
  color: black;
  padding: 14px 18px;
  border: none;
  border-radius: 12px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: .1s ease-in-out;
}
button:hover {
  background-color: #495E57;
  color: #F4CE14;
  outline: 2px solid #F4CE14;
}

h1 {
  color: #F4CE14;
  font-size: 64px;
  font-family: 'Markazi Text', serif;
  letter-spacing: 2px;
}

h6 {
  padding-top: 10px;
  font-size: 20px;
  margin: 20px;
  color:#495E57;
}

/* navbar section */
nav{
  z-index: 10001;
}

.navbar {
  padding: 10px 13%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar img{
  width: 200px;
}

nav ul li {
  display: inline-block;
  padding: 1em;
}

nav ul li a{
  color: #495E57;
  font-size: 1.2rem;
  font-weight: 500;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.menu-icon img{
  width: 40px;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  color: #495E57;
}

.nav-links.visible {
  flex-direction: column;
  position: absolute;
  top: 40px;
  right: 0;
  width: 100%;
  background-color: #495E57;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease-in-out;
  transition-delay: .3s;
  z-index: 5;
}


/* hero section */

.hero section {
  background-color: #495e57;
  color: #EDEFEE;
  padding: 10px 13%;
  max-height: 400px;
  position: relative;
  margin:auto;
  display: flex;
  justify-content:space-between;
  position: relative;
}

.banner{
  max-width: 400px;
}

.banner h2 {
  font-size: 32px;
  font-weight: 500;
  color: #EDEFEE;
}

.banner p {
  font-size: 20px;
  padding: 1rem .5rem 1rem 0;
  }

.banner-img img {
  width: 350px;
  height: 350px;
  border-radius: 10px;
  object-fit: cover;
}


/* Highlights / Specials */

.menu-container{
  padding: 10px 13%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.menu-container h2{
  color: #000;
}

.menu-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem 1rem;
}

.menu-items{
  /* height: 400px; */
  width: 350px;
  background: #EDEFEE;
  border-radius: 10px;
}

.menu-container img{
  width: 100%;
  height: 233px;
  border-radius: 10px;
}

.menu-content{
  padding: 5px 15px;
}

.heading{
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.menu-title {
  font-weight: 800px;
}

.menu-price {
  color: #ee9972;
}

.description {
  font-size: 16px;
  margin: 1.5rem 0 1rem;
  min-height: 80px;
}

.orderbtn{
  padding: 5px 12px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
}


/*Testimonials*/

.testimonials {
  background-color: #495e57;
  margin-bottom: 5rem;
  padding: 20px 13%;
  color: white;
  line-height: 1;
}

.testimonials-header{
  line-height: 50%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.testimonials-header h6 {
  font-size: 20px;
  font-weight: normal;
  color:#EDEFEE;
}


.reviews {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  flex-wrap: wrap;
  gap: 2rem 1rem;
}

.testimonials img{
  width: 150px;
  border-radius: 50%;
  margin-top: 10px;
}

.person {
  align-content: center;
  width: 250px;
  background: #EDEFEE;
  border-radius: 8px;
  color: #333333;
  padding: 1rem;
}

.person h4 {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-top: 1rem;
}

.person h5 {
  display: flex;
  font-size: 16px;
  align-items: center;
  gap: 2px;
  justify-content: center;
  margin-top: 0.5rem;
}

.person h5 img {
  width: 15px;
  margin-top: auto;
}

.person p {
  font-size: 18px;
  margin: 1rem 0;
  line-height: 1.5rem;
}


/*About*/

.about-container{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 10px 3%;
  }

.story {
  max-width: 500px;
  font-size: 24px;
  font-weight: 600;
  }

h2 {
  font-size: 40px;
  padding-bottom: auto;
  color: #000;
}

.story h6 {
  padding-top: 10px;
  font-size: 20px;
  margin: 20px;
  color:#495e57;
}

.owners {
  position: relative;
  display:flex;
  padding-bottom: 20px;
}

.about img{
  width: 250px;
  height: 350px;
  border-radius: 10px;
  object-fit: cover;
  object-position: 70%;
}


/*Booking Form*/

.reservation-form {
  margin: 5rem auto;
  border-radius: 10;
  box-shadow: 11px 11px 15px -6px rgba(0, 0, 0, 0.1), -11px -11px 15px -6px rgba(0, 0, 0, 0.1), -11px 11px 15px -3px rgba(0, 0, 0, 0.1), 11px -11px 15px -3px rgba(0, 0, 0, 0.1);
  max-width: 700px;
}

form {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form h2 {
  text-align: center;
  font-size: 32px;
  margin: 2rem 0;
  color: #495E57;
}

form p{
  text-align: center;
  font-size: 19px;
  color: #495E57;
}

label {
  font-size: 16px;
  color: #868887;
  margin: .5rem 0;
}

textarea {
  font-size: 16px;
  font-family: 'Karla', sans-serif;
  resize: none;
  padding: 1rem;
}

input,
select {
  border: none;
  border-bottom: 1px solid black;
  font-size: 16px;
}

input:focus,
select:focus {
  outline: none;
}

.num-of-guests {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}

.num {
  display: flex;
  align-items: center;
  gap: 2rem;
  border-bottom: 1px solid black;
  font-size: 20px;
}

.num span {
  cursor: pointer;
}

.field-error {
  color: red;
  font-size: 14px;
}

.submitBtn {
  align-self: center;
  border-radius: 10px;
  margin: 4rem 0;
  padding: .5rem 1rem;
  background-color: #F4CE14;
  font-size: 18px;
  font-weight: 600;
}

.submitBtn[disabled] {
  background-color: #979292;
  color: honeydew;
  cursor: not-allowed;
}

/*Confirmation*/
.success {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 7rem);
  font-size: 18px;
}

.success h2 {
  color: #495E57;
  font-size: 48px;
}

.confirm-msg {
  font-size: 24px;
  font-weight: 600;
}

.reminder {
  max-width: 400px;
  margin: 1rem auto;
}

.success img{
  width: 3rem;
  margin: 2rem, 0;
}


/*Footer*/

footer {
  box-shadow: 0 -1px 3px rgba(0, 0, 0, .1),
    0 -2px 2px rgba(0, 0, 0, .06),
    0 0 2px rgba(0, 0, 0, .07);
}

footer section{
  padding: 10px 13%;
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
  flex-wrap: wrap;
  gap: 2rem 1rem;
}

footer img{
  cursor: pointer;
  width: 350px;
  border-radius: 20px;
}

.footer-info{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem 4rem;
}

.footer-info h4{
  font-size: 18px;
}

footer ul li{
  padding: 4px 0;
  font-size: 18px;
}



@media screen and (max-width: 768px){
  .menu-icon {
    display: block;
  }

  .nav-links {
    display: none;
  }

  .nav-links.visible {
    display: flex;
    background: #333333;
    z-index: 1000;
    padding: 20px 0;
  }

  .navbar{
    background:#fff;
    padding: 10px 8%;
  }

  nav ul li a{
    color: #fff;
  }

  .bar{
    background: #333333;
  }

  .banner-img{
    display: none;
  }

  form, .comfirm{
    padding: 10px 8%;
  }


  .header section, .menu-container{
    padding: 10px 8%;
  }
  .menu-container{
    margin: 20px 0;
  }
  .menu-header{
    justify-content: flex-start;
  }

  .menu-items{
    width: 100%;
  }

  .about-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  footer section{
    padding: 10px 8%;
    flex-direction: column;
  }
}